In [1]:
L=[1,2,3,4,5,6,7,8,9,10]
L.reverse()

In [2]:
print(L)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [3]:
del L[2]

In [4]:
L

[10, 9, 7, 6, 5, 4, 3, 2, 1]

In [5]:
L[::]

[10, 9, 7, 6, 5, 4, 3, 2, 1]

In [6]:
L[::-1]

[1, 2, 3, 4, 5, 6, 7, 9, 10]

In [7]:
L[-2]

2

In [8]:
del L

In [9]:
L= [1,2,3,4,5,6,7,8,9,10]
print(L[0])
print(L[2:5])
print(L[::2])
print(L[1::3])
print(L)

1
[3, 4, 5]
[1, 3, 5, 7, 9]
[2, 5, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
L[1:5]=["Abhinav","Ranjeet","Shaamli","Shimla"]

In [11]:
L

[1, 'Abhinav', 'Ranjeet', 'Shaamli', 'Shimla', 6, 7, 8, 9, 10]

In [12]:
for i in range(0,len(L)):
    print(L[i])

1
Abhinav
Ranjeet
Shaamli
Shimla
6
7
8
9
10

In [13]:
for i in L:
    print(i,end=" ")

1 Abhinav Ranjeet Shaamli Shimla 6 7 8 9 10

In [14]:
L4 = [423,31,112,11];
L4.sort()

In [15]:
L4

[11, 31, 112, 423]

In [16]:
import pandas as pd
import seaborn as sns
import numpy as np
import scipy as st
%matplotlib inline
df=pd.read_excel('C:\Users\Abhinav Pratap Singh\Downloads\Mdata.xlsx',sheet_name='Sheet1')

In [17]:
df.head()

   X   Y   Z
0  5  50  21
1  8  56  34
2  6  89  12
3  9  90  42
4  3  40  89

In [18]:
def mahalanobis(x=None, data=None, cov=None):
    x_minus_mu = x - np.mean(data)
    if not cov:
        cov = np.cov(data.values.T)
    inv_covmat = st.linalg.inv(cov)
    left_term = np.dot(x_minus_mu, inv_covmat)
    mahal = np.dot(left_term, x_minus_mu.T)
    return mahal.diagonal()

df_x = df[['X', 'Y', 'Z']].head(500)
df_x['mahala'] = mahalanobis(x=df_x, data=df[['X', 'Y', 'Z']])
df_x.head(10)

   X    Y   Z    mahala
0  5   50  21  0.868966
1  8   56  34  1.764545
2  6   89  12  1.267364
3  9   90  42  3.325720
4  3   40  89  7.628523
5  1  100  10  4.135320
6  2  300  15  1.112493
7  4  200  20  0.136488
8  2  600  10  6.620618
9  5  100  30  0.139962

In [22]:
from scipy.stats import chi2
df['p']=1- chi2.cdf(df_x['mahala'],3)
df.head(10)

   X    Y   Z         p
0  5   50  21  0.832910
1  8   56  34  0.622681
2  6   89  12  0.736897
3  9   90  42  0.344079
4  3   40  89  0.054346
5  1  100  10  0.247218
6  2  300  15  0.774059
7  4  200  20  0.987125
8  2  600  10  0.085025
9  5  100  30  0.986644